<div class="container">
  <div class="table-margin">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title" editable-text="trip.tripName" onbeforesave="updateTrip(trip)"> {{ trip.tripName }} </h3>
        <button style="float: right;" class="btn btn-danger col-sm-1" ng-click="deleteTrip(trip)">delete</button>
      </div>

      <div class="panel-body">

        <!-- Left column -->
        <div class="col-md-6">
          <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="{{ trip.location }}" zoom="10" map-type-id="MapTypeId.HYBRID">
              <marker position="{{ trip.location }}"></marker>
            </ng-map>
          </div>

          <p editable-text="trip.location" onbeforesave="updateTrip(trip)"><strong>{{ trip.location }}</strong></p>
          <p><strong>Invited:</strong>
            <br>
            <span style="padding-right: 10px" ng-repeat="person in trip.members">
              <a ng-click="checkForUser(person.email)">
                {{ person.email }}
              </a>
              <svg height="10" width="10">
                <circle cx="5" cy="5" r="5" fill="{{ color[person.email] = color.colors[$index] }}" />
              </svg>
            </span>
            <span ng-show="notUser" class="ng-hide">Not a User!</span>
          </p>
          <p editable-bsdate="dates.start" e-is-open="opened.$data" onbeforesave="updateTrip(trip)" e-datepicker-popup="dd-MMMM-yyyy"><strong>Dates:</strong>
            <br>
            {{ dates.start }} &nbsp;-&nbsp; {{ dates.end }}
          </p>
        </div>

        <!-- Right column -->
        <div class="col-md-6" ng-controller="taskForm" ng-include="'../client/task-form/taskForm.html'"></div>

        <!-- Bottom Table -->
        <div class="table-responsive col-xs-12" ng-if="trip._id" ng-controller="taskView" ng-include="'../client/task-view/taskView.html'"></div>


        <!-- Messages -->
        <div ng-controller="tripMessages" ng-include="'../client/trip-messages/tripMessages.html'"></div>

      </div> <!-- /panel-body -->

    </div>
  </div>
</div>
