<div class="container">
  <div class="table-margin">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">{{ user.given_name }} {{ user.family_name }}</h3>
      </div>

      <div class="panel-body">

        <!-- Left column: User Profile Info -->
        <div class="col-sm-3">

          <h4>{{ user.email }}</h4>

          <div ng-if="!updateAble">
            <img class="profile-pic" ng-src="{{ user.image_url }}" />
            <p>
              <b>My favorite destinations:</b>
              <br>
              {{ user.favorite_trips }}
            </p>
            <p>
              <b>About me:</b>
              <br>
              {{ user.bio }}
            </p>
            <button class="buttons btn" ng-click="toggleProfileUpdate()">Update Profile</button>
          </div>

          <div ng-if="updateAble">

            <input type="file" custom-on-change="uploadFile" />
            <p id="status">Please select a profile image</p>
            <img class="profile-pic" ng-src="{{ user.image_url }}" />

            <form id="userUpdateForm" ng-submit="updateProfile()" novalidate>
              <input type="hidden" ng-model="user.image_url" />
              <label for="favorite-trips">My favorite destinations:</label>
              <input class="form-control" id="favorite-trips" type="text" ng-model="user.favorite_trips" ng-model-options="{ updateOn: 'submit' }" required />

              <label for="user-bio">About me:</label>
              <input class="form-control" id="user-bio" type="text" ng-model="user.bio" ng-model-options="{ updateOn: 'submit' }" required />

              <br>

              <button class="buttons btn" type="submit" ng-disabled="userUpdateForm.$invalid">Submit</button>
              <button class="buttons btn" ng-click="toggleProfileUpdate()">Cancel</button>
            </form>
          </div>

        </div>

        <!-- Right column: User Trips Info -->
        <div class="col-sm-9" ng-controller="userTripsCtrl" ng-include="'../client/usertrips/usertrips.html'"></div>

      </div> <!-- /panel-body -->

    </div>
  </div>
</div>
