
.input-group .form-control {
  position: static;
}
.input-group-btn > .btn {
  position: static;
}
p, h1, h2, h3, h4, div, a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

@media (max-width: 979px) {
  body {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .input-group .form-control {
    position: static;
  }
  .input-group .form-control {
    position: static;
  }
}

/*
Landing Page
*/
.landing {
  top: 50px;
  bottom: 0;
  width: 100%;
  background-image: url("../img/blackrock-mountain.jpg");
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

.google-signin {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
  border: 2px solid	rgb(255, 128, 0);
  border-radius: 0;
  color: rgb(255, 128, 0);
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.buttons {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px 15px;
  border: 2px solid	rgb(255, 128, 0);
  border-radius: 0;
  color: rgb(255, 128, 0);
  font-size: 14px;
  font-weight: 500;
}

.buttons:hover {
  background-color: rgb(44, 181, 81);
  color: white;
  border: 2px solid white;
}

.google-signin:hover {
  background-color: rgb(44, 181, 81);
  color: white;
  border: 2px solid white;
}

.home {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(44, 181, 81);
}

.landing-body {
  padding-top: 140px;
  padding-bottom: 140px;
}

.about {
  background-color: rgba(44, 181, 81, 0.4);
  color: white;
  padding-top: 140px;
  padding-bottom: 140px;
}

.customers {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 140px;
  padding-bottom: 90px;
  color: rgb(44, 181, 81);
}

.testimonial {
  line-height: 1.3;
  font-weight: 300;
}

.hr-banner {
  position: relative;
  float: right;
  top: 0;
  right: 0;
  border: 0;
}

/*
Navbar
*/
.navbar {
  background-color: rgb(44, 181, 81);
  border-color: #888;
}

.footer {
  background-color: rgb(44, 181, 81);
  text-align: center;
  padding: 10px 0;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #FFFFFF;
}

.logout {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 10px;
}

.logout:hover, .logout:focus {
  text-decoration: none;
  color: #FFFFFF;
}

/*
Trip Overview
*/
.table-margin {
  margin-top: 20px;
}
.panel-title {
  font-size: 20px;
}

.glyphicon-tree-conifer {
  color: green;
}

.glyphicon-grain {
  color: red;
}

.pointer {
  cursor: pointer;
}

.table-head {
  background: #f5f5f5;
}

.table-head tr th:first-of-type {
  border-top-left-radius: 3px;
}

.table-head tr th:last-of-type {
  border-top-right-radius: 3px;
}

body {
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}


/* PROFILE PAGE */
.profile-right {
  margin-top: 1em;
}
@media only screen and (min-width : 768px) {
  .profile-left {
    border-right: 1px solid #ddd;
    padding-right: 30px;
  }
  .profile-right {
    padding-left: 30px;
    margin-top: 0;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.profile-pic {
  margin: 15px auto 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-link,
.panel-link:hover {
  text-decoration: none;
  color: inherit;
}

.panel-hover:hover {
  background-color: #f5f5f5;
}
.panel-hover:hover .panel-arrow:after {
  border-left: 50px solid #000;
}

.panel-arrow {
  position: relative;
}
.panel-arrow:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 50px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: translateY(-25px);
}
