
<div ng-if="!noTrips">
  <div ng-repeat="trip in trips | orderBy: 'uglyStart'">
    <a ng-href="#/trip/{{ trip.id }}" class="panel-link">
      <div class="panel panel-default panel-hover">
        <div class="panel-body panel-arrow">
          <h4><b>{{ trip.name }}</b> <span>in</span> {{ trip.location }}</h4>
          <h5>{{ trip.start }}<span> until </span> {{ trip.end }}</h5>
          <h5>Click for trip details</h5>
        </div>
      </div>
    </a>
  </div>
</div>

<div ng-if="noTrips">
  <h4>You don't have any trips planned yet!</h4>
  <a ng-href="#/trip-form"><button class="buttons btn">Create Trip!</button></a>
</div>
