<div class="col-sm-12">
  <!-- Add Message -->
  <hr>
  <h4>Trip Messages</h4>
  <section class="col-sm-5 col-sm-push-7 trip-messages-left">
    <form name="addMessageForm" ng-submit="submitMessage(addMessageForm.$valid)" novalidate>
      <div class="form-group">
        <label for="inputMessage">New Message:</label>
        <input type="text" class="form-control" placeholder="Your message to the group" id="inputMessage" ng-model="messageForm.message" required></input>
      </div>
      <button class="buttons btn trip-msg-btn" ng-disabled="addMessageForm.$invalid" disabled="disabled">Submit</button>
    </form>
  </section>
  <!-- Messages Display -->
  <section class="col-sm-7 col-sm-pull-5 trip-messages-right">
    <div class="panel panel-default" ng-repeat="message in messages | orderBy:'-createdAt'">
      <div class="panel-heading">
        <h5 class="panel-title message-panel-title">
          <span class="profile-pic-holder small" style="background-image:url('{{ message.image_url }}')"></span>
          <span class="message-panel-username">{{ message.username }} <small>{{ message.displayTime }}</small></span>
        </h5>
      </div>
      <div class="panel-body">
        {{ message.message }}
      </div>
    </div>
  </section>
</div>